:root {
    background-color: #F1E9DE;
}

/*
==========================================
typography
==========================================
*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
 

}
h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 42px;
}
h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 34px;
}
h4 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 26px;
}
p {
    font-family: 'Domine', serif;
    font-size: 16px;
}



/*
==========================================
header
==========================================
*/

header {
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;


}

.nav-primary ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;


}

.nav-primary ul li {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    padding: 5px 18px;
    gap: 10px;


    /* colors/green/dark */

    background: #265902;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-primary ul li a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 26 px;
    color: white;
    font-weight: normal;
    font-size: 26px;;
    text-decoration: none;
}


/*
==========================================
hero
==========================================
*/

.hero {


}

.hero-content {
    display: flex;
    flex-direction: column;

    

}

.hero-content-text {
    max-width: 40%


}

.hero-content-visual {
    max-width: 40%;
    float: right;



}

img {
    max-width: 100%;
}

.bio {
    display: flex;
    justify-content: center;
    padding: 5% 10%;
    text-align: center;
}